<template name="navbar">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Todo-Meteor</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active clickChangesPage" data-page="home"><a href="/">Home</a></li>
                        <li class="clickChangesPage" data-page="classic"><a href="/classic">Classic</a></li>
                        <li class="clickChangesPage" data-page="angular"><a href="/angular">Angular</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</template>